<h3>New Appointment</h3>
<div class="margin-0  hidden-sm hidden-xs">
	<div class = 'col-md-12' >
		<div ng-repeat="error in apptsCtrl.errors">
            <p ng-bind="error"></p>
        </div>
		<form>
	   		<div class='form-group'>
	   			Date:
	   			<input class = 'form-control' name ='date' type="date" ng-model='apptsCtrl.newAppointment.date' placeholder = 'yyyy-MM-dd'>
	   		</div>
	   		<div class="form-group">
	   			Time:
	   			<select class = 'form-control' name="time" type='text' ng-model = 'apptsCtrl.newAppointment.time' ng-init="apptsCtrl.newAppointment.time = '8:00AM'">
			      	<option value="8:00AM">8:00AM</option>
			      	<option value="9:00AM">9:00AM</option>
			      	<option value="10:00AM">10:00AM</option>
			      	<option value="11:00AM">11:00AM</option>
			      	<option value="12:00PM">12:00PM</option>
			      	<option value="1:00PM">1:00PM</option>
			      	<option value="2:00PM">2:00PM</option>
			      	<option value="3:00PM">3:00PM</option>
			      	<option value="4:00PM">4:00PM</option>
			      	<option value="5:00PM">5:00PM</option>
		   		</select>
	   		</div>
	   		<div class="form-group">
	   			<textarea class='form-control' name="description" cols="20" rows="5" placeholder = 'Complaint' ng-model='apptsCtrl.newAppointment.description'></textarea>
	   		</div>
	   		<div class='pull-right'>
	   			<a class='btn btn-danger btn-sm' href = '#/'>Cancel</a>
	   			<button class='btn btn-info btn-sm' ng-click='apptsCtrl.addAppointment(apptsCtrl.newAppointment)'>Add Appointment</button>
	   		</div>
   		</form>
	</div>
</div>

